CompanyWebClient/CompanyWebClient/Service References/CompanyService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CompanyPublicService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyPublicServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyPublicServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyConfidentialService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyConfidentialServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyConfidentialServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>